<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login Form Design | CodeLab</title>
    <link rel="stylesheet" href="{{url_for('static', filename='log.css')}}">
</head>

<body>
    {% for message in get_flashed_messages() %}
    <p class="flash">{{ message }}</p>
    {% endfor %}
    <div class="wrapper">
        <div class="title">
            Landing Page
        </div>
        <form action="#">

            <div class="field">
                <input type="button" value="Login" onclick="(()=>{location.pathname = 'login'})()">

            </div>
            <div class="field">
                <input type="button" value="Register" onclick="(()=>{location.pathname = 'register'})()">

            </div>
        </form>
    </div>
</body>

</html>